@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body, html{
    padding: 0;
    margin: 0;
}
input{
    outline: none;
}
button:active, button:focus, button{
    outline: none;
    border: 0;
}

/* Footer*/
.block-footer{
    position: relative;
    width: 100%;
    height: 360px;

    background: #6774A1;
}
.block{
    position: relative;
    width: 55.94%;
    top: 12.5%;
    height: 77.78%;
    margin-left: 23.28%;
}
#logoW, logoB{
    position: absolute;
    height: 31px;
}
#phone{
    position: absolute;
    top: 25%;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;



    color: #FFFFFF;
}

#email{
    position: absolute;
    font-family: 'Inter', sans-serif;

    top: 40%;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;

    color: #FFFFFF;
}

.views {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 50.38%;
    height: 98px;
    top: 17.14%;
    left: 28.96%;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}



#company, #garant, #work, #pay, #montage, #contact{
    color: #FFFFFF;
    opacity: 0.65;
    text-decoration: none;
}

.call{
    position: absolute;
    width: 13.91%;
    height: 27.22%;

    top: 0%;
    right: 10%;
}

#text-call{
    position: relative;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;

    color: #FFFFFF;
}

.call-menu{
    position: relative;
    width: 248px;
    height: 67.12%;
    bottom: 0%;
}

#text-phone{
    position: relative;
    width: 200px;
    height: 50px;
    top: 13.7%;
    padding: 0 20px;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 124, 0.2);
    border-radius: 6px;
}

#button-call{
    position: absolute;
    width: 52px;
    height: 52px;
    right: 1px;
    top: 13.6%;


    background: #57A8C0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#tube{
    position: relative;
    height: 42%;
    width: 42%;
}

#line{
    position: relative;
    width: 100%;
    top: 38.21%;
    opacity: 0.2;
    border: 1px solid #FFFFFF;
}

#emblem{
    position: relative;
    top: 51.07%;
    left: 85%;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}
.social{
    position: absolute;
    display: flex;
    width: 12.57%;
    height: 12.5%;
    bottom :1%;
    justify-content: space-between;
}

#logoW:hover, #instagram:hover, #facebook:hover, #logoB #twitter:hover, #button-call:hover{
    cursor: pointer;
}

.views, .call, #emblem, .social, #logoW, #logoB{
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


/* Header */

.block_header{
    position: absolute;
    width: 80.69%;
    height: 55px;
    top : 3.125%;
    left: 9.64%;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#logoB{
    position: relative;
    height: 31px;
    left: 0%;
    top: 21.82%;
}
.search-menu{
    position: absolute;
    width: 276px;
    height: 55px;
    top: 0%;
    left: 18.54%;
}

#search-block::placeholder{

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;

    letter-spacing: 0.05em;
    color: #2264D1;
}

#search-block {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    border: 2px solid #B4B4BB;
    border-radius: 6px;
    box-sizing: border-box;
}

.search-menu input[type=text]{
    padding: 20px;

}
#search-btn{
    position: absolute;
    right: 0%;
    width: 55px;
    height: 55px;

    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background: #2264D1;
}

#geo{
    position: relative;
    left: 30.73%;
    top: 5%;
}

#town{
    position: relative;
    height: 17px;
    left: 30.85%;
    top: -20%;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color:  #000000;
}
#tube2{
    position: relative;
    height: 18px;
    left: 42%;
    top: 10%;
}
#tel1{
    position: relative;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    top: -13%;
    left: 42.01%;

    color: #000000;
}

#order-call{
    position: relative;
    top: 14%;
    left: 33.24%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;


    color: #000000;
}

#basket{
    position: relative;
    left: 43.7%;
    top: 5%;
}

#count{
    position: relative;
    left: 43.71%;
    top: -15.5%;

    font-family: 'Inter', sans-serif;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;


    color: #000000;
}

#sum{
    position: relative;
    left: 39.51%;
    top: 15%;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

#user{
    position: relative;
    left: 47.17%;
    top: 10%;
}

#lk{
    position: relative;
    left: 47.17%;

    font-family: 'Inter', sans-serif;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #000000;

}


<!-- Карточка товара -->

.block_description{
    position: absolute;
    width: 86.1%;
    height: 66.8%;
    margin-left: 200px;


}

#one_description{
    position: relative;
    height: 35px;
    left: 0%;
    top: 0%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 143%;
    word-break: break-word;

    display: flex;
    align-items: center;
    letter-spacing: 0.018em;

    color: #000000;
}

.block_brief{
    position: relative;
    width: 22.4%;
    height: 111px;
    top: 4%;

    display: flex;
    flex-direction: column;
}

#title_brief{
    position: relative;
    height: 33px;
    top:0%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    letter-spacing: 0.0275em;

    color: #19191D;
}

#text_brief{
    position: relative;
    height: 58px;
    top: 1%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 143%;

    display: flex;
    align-items: center;
    letter-spacing: 0.018em;

    color: #787885;
}

#line_tovars{
    position: relative;
    width: 100%;
    height: 0px;
    top: 15%;

    border: 1px solid #E5E2E3;
}


.dop_block{
    position: relative;
    width: 36.6%;
    height: 92px;

    display: flex;
    flex-direction: column;
}

#title_dop{
    position: relative;
    top: 15%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.0275em;
    color: #19191D;
}

#text_dop{
    position: relative;
    height: 29px;
    top: 25%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 143%;
    /* identical to box height, or 29px */

    display: flex;
    align-items: center;
    letter-spacing: 0.018em;

    /* Gray / 50 */

    color: #787885;
}

#check{
    position: absolute;
    right: 1%;
    top: 50%;
}

#line_tovars_2{
    position: relative;
    width: 100%;
    height: 0px;
    top: 15%;

    border: 1px solid #E5E2E3;
}

.technicalSpecifications_block{
    width: 45.37%;
    height: 528px;
    top: 2%;
    display: flex;
    flex-direction: column;
}

#title_tech{
    position: relative;
    top: 5%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.0275em;


    color: #19191D;

}

.technical{
    position: relative;
    top: 10%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;

    display: flex;
    align-self: auto;
    letter-spacing: 0.018em;

    color: #787885;
}

#date_tech_1, #date_tech_2, #date_tech_3, #date_tech_4, #date_tech_5, #date_tech_6 ,#date_tech_7, #date_tech_8, #date_tech_9, #date_tech_10 {
    justify-content: left;
    margin-left: 55%;
    top: -50%;
}


<!-- Главная товара -->

<!-- Страница корзины -->
